<html>
<head>

  <title>XBT Wallet</title>
  <link rel="icon" type="image/png" href="static/favicon.png"/>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/sitestyle.css">
  <script src="/static/jquery-1.11.1.min.js"></script>

</head>
<body>
  {{header}}

  <div class="container bs-docs-container">
  <div class="bs-docs-section">

    <h2>Bitcoin Wallet</h2>
    <h1>Total balance: {{totalbal}} XBT</h1>
    {% if not addresses %}
      <p> You don't have any Bitcoin wallet addresses to send/ receive bitcoin. Create one below! </p>
    {% else %}
      <ul>
      {% for address in addresses %}

        <li>{{address.address}}</li>
        {% if address.name %}
        <li>{{address.name}}</li>
        {% else %}
        <li>Unnamed address</li>
        {% endif %}
        <li>{{address.balance}} XBT</li>
        <br>

      {% endfor %}
      </ul>
    {% endif %}
    <p>Warning: For security reasons, if you create a new Bitcoin receiving address using this app, no entity (not even you) will be able to access the private key associated with this address. This means you cannot use this address as a paper wallet, and you can only spend the Bitcoin received through this app with this app.</p>
    <!-- form to create new Bitcoin address (w/ optional name) !-->
    <form action="newAddress" id="createAddress">
      <input type="text" name="name" placeholder="(Optional) Name">
      <input type="submit" id="submitNew" value="Create Address">
    </form>
    <form action="sendBitcoin" id="sendXBT">
      <input type="text" name="sendAddr" placeholder="Bitcoin address" required="required">
      <input type="number" name="sendAmt" placeholder="XBT to send" step="0.00000001" min="0" required="required">
      <input type="submit" id="submitSend" value="Send bitcoin!">
    </form>
    <a href="/updateBalances">Update your balances</a>
  </div>
  </div>
  <br><br><br><br>
  {{footer}}

</body>
</html>
